<center>
  <h1>タスクを編集する</h1>
  <br/>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= render 'form', list: @list %>
    </div>
  </div>

  <br/><br/>

  <%= link_to 'TOPページへ', lists_path, class: 'btn btn-info btn-sm' %>
</center>